<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a routerLink="/" class="navbar-brand">Reminder App</a> </div>
    <ul *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" class="navbar-nav">
      <li><a routerLink="/" class="nav-link">Home</a> </li>
      <li><a routerLink="/reminders" class="nav-link">Reminders</a> </li>
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()"><a routerLink="/login" class="nav-link">Login</a> </li>
      <li *ngIf="hardcodedAuthenticationService.isUserLoggedIn()"><a routerLink="/logout" class="nav-link">Logout</a> </li>
    </ul>
  </nav>
</header>


