<h1>Reminder</h1>
<div class="container">
  <div class="alert alert-warning" *ngIf="reminderForm.dirty && reminderForm.invalid">Enter valid values</div>
  <div class="alert alert-warning" *ngIf="reminderForm.dirty && targetDate.invalid">Enter target date</div>
  <div class="alert alert-warning" *ngIf="reminderForm.dirty && description.invalid">Enter valid values</div>
  <form class="container" [formGroup]="reminderForm"  (ngSubmit)="saveReminder()">
    <fieldset class="form-group">
      <label>Description</label>
      <input
        type="text"
        class="form-control"
        formControlName="description"
        name="description"
        required="required"
      />
    </fieldset>

    <fieldset class="form-group">
      <label>Target Date</label>
      <input
        type="date"
        class="form-control"
        formControlName="targetDate"
        name="targetDate"
        required="required"
      />
    </fieldset>

    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>

