<h1>My Reminder's</h1>

<div class="alert alert-success" *ngIf="message">{{message}}</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Target Date</th>
        <th>Is Completed?</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reminder of reminders">
        <td>{{reminder.description}}</td>
        <td>{{reminder.targetDate | date | uppercase}}</td>
        <td>{{reminder.done}}</td>
        <td>
          <button (click)="editReminder(reminder.id)" class="btn btn-warning">Edit</button>
        </td>
        <td>
          <button (click)="deleteReminder(reminder.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <button (click)="createReminder()" class="btn btn-success">Create</button>
  </div>
</div>

