<h1>Welcome!</h1>

<div class="container">
  Welcome {{name}}.

  Enjoy this reminder Application to track your life.

  You can manage your reminders <a routerLink="/reminders">here</a>.

</div>

<div class="container">
  Click here to get a customized welcome message
  <button (click)="getWelcomeMessageWithParam()" class="btn btn-success">Get Welcome Message</button>
</div>

<div class="container" *ngIf="welcomeMessage">
  <h2>Your Customize Welcome Message</h2>
  {{welcomeMessage}}
</div>
